PORT=

NODE_ENV=

MONGO_URI=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=
SMTP_USER=example222006@gmail.com
SMTP_PASS=
SMTP_FROM="name <example@gmail.com>"

APP_URL=

JWT_SECRET=
JWT_EXPIRES_IN=

CLIENT_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RIDE_OFFER_TIMEOUT=
RIDE_OFFER_JOB_INTERVAL=

USER_CANCELLATION_FEE=
DRIVER_CANCELLATION_PENALTY=